body {
    background-color: 		#813531;
}

.container {
    display: flex;
}

.dashboard {
    flex-direction: row !important;
}

.order {
    align-items: flex-start !important;
}

.dashboard.container, 
.enter.container,
.order.container,
.loading.container {
  flex-direction: column;
}

.loading.container {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.enter.container {
    align-items: center;
    justify-content: center;
}

.enter.container {
  min-width: 400px;
  min-height: 100vh;
}

.enter .wrapper {
  width: 400px;
}
 
.menu.container {
    flex-grow: 1;
    flex-direction: column;
}

.menu .filters {
    padding: 10px;
    justify-content: space-around;
}

.menu .filters button {
    border-color: 		#ffb80e;
    color: 			#ffb80e;
}

.menu .items {
    flex-wrap: wrap;
    justify-content: center;
}

.menu .items .MuiPaper-root {
    background-color: #ffb80e;
    color: #982121;
}

.menu .items .MuiCardHeader-root {
    min-height: 35px;
}

.menu .items .MuiCardHeader-root {
    flex-direction: row-reverse;
    min-height: 35px;
}

.menu .items .MuiCardHeader-avatar {
    margin-right: auto;
}

.menu .items .MuiCardContent-root {
    margin-bottom: auto;
}

.menu .items .MuiCardContent-root .details {
    display: flex;
    justify-content: space-between;
}

.menu .items .MuiCardActions-root button {
    background-color: #982121;
}

.menu .items > .menuItem {
    width: 250px;
    margin: 10px;
}

.order.container {
    margin: 10px;
    min-height: 100vh;
    align-items: flex-start !important;
    justify-content: flex-start;
}

.order > div {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order.container > .MuiPaper-root {
    position: sticky;
    top: 1rem
}

.order .orderItem {
    margin: 10px;
}