body {
    background-color: #b2bec3;
}

.container {
    display: flex;
}

.dashboard {
    flex-direction: row !important;
}

.order {
    align-items: flex-start !important;
}

.dashboard.container, 
.enter.container,
.order.container{
  flex-direction: column;
}

.enter.container {
    align-items: center;
    justify-content: center;
}

.enter.container {
  min-width: 400px;
  min-height: 100vh;
}

.enter .wrapper {
  width: 400px;
}
 
.menu.container {
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.menu > .menuItem {
    width: 250px;
    margin: 10px;
}

.order.container {
    margin: 10px;
    min-height: 100vh;
    align-items: flex-start !important;
    justify-content: flex-start;
}

.order > div {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order .orderItem {
    margin: 10px;
}

.MuiCardContent-root {
    margin-bottom: auto;
}